body{
    font-size: 16px;
    line-height: 26px;
    color: #545454;
    font-family: 'Roboto Slab', serif;
    max-width: 1200px;  
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.main-navigation {
    display: flex;
    margin-top: 20px;
    color: #BED4D4;
    font-weight: 300;
}


.main-navigation ul {
    display: flex;
    font-size: 18px;
    line-height: 24px;
    justify-content: flex-end;
    width: 100vw;
    list-style: none;
}

.main-navigation li {
    margin-left: 28px;
    padding-bottom: 22px;
}

.main-navigation a{
    color: #BED4D4;
    font-weight: 700;
    text-decoration: none;
}

.container-1{
    font-size: 54px;
    line-height: 64px;
    font-weight: 300;
}

.firma{
    font-size: 25px;
    font-weight: 300;    
}